pre {
    background-color: #254558;
}

code {
    background-color: #254558;
    color: #EAFC40;
}

/* KeyWordTok */
.sourceCode .kw { color: #EAFC40; }
/* DataTypeTok */
.sourceCode .dt { color: #1ED2F5; }

/* DecValTok (decimal value), BaseNTok, FloatTok */
.sourceCode .dv, .sourceCode .bn, .sourceCode .fl { color: #F4F5F6; }
/* CharTok */
.sourceCode .ch { color: #EAFC40; }
/* StringTok */
.sourceCode .st { color: #EAFC40; }
/* CommentTok */
.sourceCode .co { color: #F4F5F6; }
/* OtherTok */
.sourceCode .ot { color: #F4F5F6; }
/* AlertTok */
.sourceCode .al { color: #F4F5F6; font-weight: bold; }
/* FunctionTok */
.sourceCode .fu { color: #F4F5F6; }
/* RegionMarkerTok */
.sourceCode .re { }
/* ErrorTok */
.sourceCode .er { color: #F4F5F6; font-weight: bold; }
